<div class="centered-div">
  <h3>Student Progress Over Time</h3>

  <div [ngClass]="cssClass" #chartcontainer>
    
  </div>

  <div class="centered-div" id="chart-toolbar">
    <div>
      <b>Saved Filter Options</b>
      <select *ngIf="dataOptions" ([ngModel])="cssName" (change)="updateOptions(selectCssClass.value)" #selectCssClass>
        <option *ngFor="let dataOption of dataOptions;let i = index" value={{i}}>{{dataOption.name}}</option>
      </select>
    </div>
    <div id="chart-filters">
      <b>Filters</b>
      <ul>
        <li><span>Show X Axis </span><span><input type="checkbox" [checked]="selectedOptions.showXAxis" /></span></li>
        <li><span>Show Y Axis </span><span><input type="checkbox"  [checked]="selectedOptions.showYAxis"  /></span></li>
        <li><span>Display names </span><span><input type="checkbox"  [checked]="selectedOptions.showNames" /></span></li>
        <li><span>Display scores </span><span><input type="checkbox"  [checked]="selectedOptions.showScores"  /></span><li>
      </ul>
    </div>

  </div>
  
</div>

