<div class="centered-div">
  <h3>Data Visualization Example</h3>
  <select *ngIf="optionsList" #selectOptions (change)="showOptions(selectOptions.value)">
    <option value="-1">Choose data set</option>
    <option *ngFor="let option of optionsList;let i = index;" value="{{i}}">{{option.name}}</option>
  </select>
  <div>&nbsp;</div>
  <div>
    <div  [className]="showHide" style="opacity:0;">
      <div *ngIf="dataOptions">
        <span>Measure: <input type="text" #optionMeasure value="{{dataOptions['measureField']}}" /></span>
        <span>Label Field: <input type="text"  value="{{dataOptions['labelField']}}" /></span>
        <span>Data filters: <input type="text"  value="{{dataOptions['fieldFilters']['where']}}" style="width:200px;" /></span>
        <span>Display: <input type="text"  value="{{dataOptions['uiOptions']['visualization']}}" style="width:200px;" /></span>
        <span>Datasource:<input type="text" value="{{dataOptions['dataSource']}}" style="width:200px;"/></span>
      </div>
    </div>
  </div>
  <div>&nbsp;</div>
  <app-data-visualization 
    [dataSource] = "dataSource"
    [optionsSource] = "optionsSource"
    [fields] = "fields"
    [fieldFilters] = "fieldFilters"
    [data] = "data"    
    [dataOptions] = "dataOptions"
    [uiOptions] = "uiOptions"
  >
  </app-data-visualization>
</div>
