<div #chart style="width:100%;" class="d3-chart-container"></div>
<div class="chartToolbar">
  <button (click)="updateRotation(0)">Rotation 1</button>
  <button (click)="updateRotation(1)">Rotation 2</button>
  <button (click)="updateRotation(2)">Rotation 3</button>
  <button (click)="updateRotation(3)">Rotation 4</button>
</div>

<div class="options">
    <fieldset>
      <legend><span>Options</span></legend>
      <ul>
        <li>
          <input type='checkbox' #optionShowXAxis name="optionShowXAxis" (change)="showXAxis($event);" />
          <label for="optionShowXAxis">Show xAxis</label>
        </li>
      </ul>
    </fieldset>
</div>
