.d3-chart-container{  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #c6e9ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#c6e9ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#c6e9ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6e9ff',GradientType=1 );
  border:1px #B7E3FF solid;  
  width:1000px;
  max-width:1000px;
  margin:0 auto;
  margin-top:10px;
}

#d3-chart-container rect{
    fill:steelblue;
}

.chartToolbar {
    width:1000px;
    margin:0 auto;
    margin-top:10px;
}

.chartToolbar button:active{
    color:green;
}

.options{
    width:100%;
    max-width:1000px;
    margin:0 auto;
    font-size:.8em;
    margin-top:20px;
}

.options fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius:5px;
    border:1px solid #aaa; 
    box-shadow:0 0 5px #999;   
}

.options fieldset legend{
    padding:0;
    margin:0;
    font-size:1em;
    color:#888;    
    border:0;
    background:transparent;
    margin-top:-12px;
}
.options fieldset legend span{
    background:#fff;
}
.options fieldset legend + *{
    clear:both;
}

.options ul{
    margin:0;padding:0;
}

.options ul li{
    display:inline-block;
    list-style: none;
    margin:5px;
    padding:0;
}