<!--
<b>Barchart</b><br />
<div style="margin:20px">
    <app-barchart *ngIf="chartData" [data]="chartData"></app-barchart>
</div>
<div style="margin:20px"><label #chartlabel>Rotation: {{rotation}}</label></div>
<div style="margin:20px"><a href="javascript:void(0)" (click)="setRotation();generateChartData();">Reload</a></div>
/-->

<div class="centered-div">
    <h4>Charts :-) </h4>
    <a routerLink="/chart-test">Bar chart test</a><br /> 
    <a routerLink="/barchart-example">Barchart from module</a><br />   
    <a routerLink="/">Home</a>
</div>